{# @var item \Knp\Menu\MenuItem #}
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    {%  for child in item.children %}
        <li><a href="{{ child.uri }}" class="nav-link px-2 text-secondary">{{ child.name }}</a></li>
    {% endfor %}
</ul>